@model eUseControl.Domain.Entities.Animale.Animal

@{
     ViewBag.Title = "Editează Animal";
}

<h2>Editează Animal</h2>

@using (Html.BeginForm("Edit", "Animale", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.HiddenFor(m => m.Id)

     <div class="form-group">
          @Html.LabelFor(m => m.Nume)
          @Html.TextBoxFor(m => m.Nume, new { @class = "form-control" })
     </div>

     <div class="form-group">
          @Html.LabelFor(m => m.Specie)
          @Html.TextBoxFor(m => m.Specie, new { @class = "form-control" })
     </div>

     <div class="form-group">
          @Html.LabelFor(m => m.Varsta)
          @Html.TextBoxFor(m => m.Varsta, new { @class = "form-control" })
     </div>

     <div class="form-group">
          @Html.LabelFor(m => m.Descriere)
          @Html.TextAreaFor(m => m.Descriere, new { @class = "form-control" })
     </div>

     <div class="form-group">
          <label for="poza">Imagine</label>
          <input type="file" name="poza" class="form-control" />
     </div>

     <button type="submit" class="btn btn-primary">Salvează</button>
}

