@model IEnumerable<eUseControl.Domain.Entities.Animale.Animal>

<h2>Administrare Animale</h2>

<a href="@Url.Action("Create", "Animale")" class="btn btn-success my-3">Adaugă Animal Nou</a>

<table class="table">
     <thead>
          <tr>
               <th>Nume</th>
               <th>Specie</th>
               <th>Vârstă</th>
               <th>Imagine</th>
               <th>Acțiuni</th>
          </tr>
     </thead>
     <tbody>
          @foreach (var a in Model)
          {
               <tr>
                    <td>@a.Nume</td>
                    <td>@a.Specie</td>
                    <td>@a.Varsta</td>
                    <td><img src="@a.Imagine" width="100" /></td>
                    <td>
                         <a href="@Url.Action("Edit", "Animale", new { id = a.Id })" class="btn btn-primary">Editează</a>
                         <a href="@Url.Action("Delete", "Animale", new { id = a.Id })" class="btn btn-danger">Șterge</a>
                    </td>
               </tr>
          }
     </tbody>
</table>
